.divider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
  }
  
  .divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: red;
  }
  
  .divider-text {
    padding: 0 20px;
    color: #fff;
  }
  